[mysqld]
user = mysql
datadir = /var/lib/mysql
port = 3306
log-bin = /var/lib/mysql/mysql-bin
bind-address = 0.0.0.0
skip-name-resolve

# Performance tuning
key_buffer_size = 256M
max_allowed_packet = 64M
max_connections = 100
innodb_buffer_pool_size = 256M
innodb_log_file_size = 64M
